@model dotnethomepage.Models.BlogPost    

<div class="blogpost">
    <h3>
        @Model.title
    </h3>
    <time>posted @Model.postDate.ToString("MMMM dd yyyy")</time>
    <p></p>
    <div>@Html.Raw(Model.shortBody)</div>
    <div class="read-the-rest">
        <a href="post/@Model.id" class="link-text">View Post</a>
    </div>
</div>