@model dotnethomepage.Models.BlogPost    

<div class="blogpost">
    <h3>
        @Model.title
    </h3>
    <time>posted {readablePostDate(post.postDate)}</time>
    <p></p>
    <div>@Model.body</div>
    blogid == undefined &&
    <div class="read-the-rest">
        <a href="{`/${post.id}`}" class="link-text">View Post</a>
    </div>
</div>