<div class="container">
    <Nav class="navbar">
        <li class="nav-item">
            <a class="nav-link" href="/">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </Nav>
</div>