body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#about-div h1 {
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-size: 4em;
}

.about-section {
  margin: 0px 0px 40px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.9);
}

.blogpost h3 {
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-size: 4em;
}

.blogpost {
  margin: 0px 0px 40px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.9);
}

.post-par {
  margin-top: 20px;
  text-align: left;
}

.sub-header {
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.link-text {
  color: black;
  font-weight:bold;
  text-decoration: none;
}

.link-text:hover {
  color: black;
  font-weight:bolder;
}

.blogpost img {
  margin:auto;
  display:block;
}

@media screen and (max-width:800px) {
  .blogpost > h3 {
    font-size:2em;
  }
}
